#calendarioReservas{
    .contenedorBotonesCalendario{
        select {
            margin: 10px;
            padding: 10px;
            border-radius: 5px;
        }
        td, th{
            border: none;
            padding: 5px;
        }
    }
    .tablaCalendario{
        td, th{
            text-align: center;
        }
        .calenReDiaVacio{
            background-color:  rgba(0, 150, 0,0.5);
        }
        .calenReDiaMedio{
            background-color: rgba(150, 150, 0, 0.5);
        }
        .calenReDiaLleno{
            background-color: rgba(255, 0, 0,0.5);
        }
        .calenReDiaNoSeleccionable{
            background-color: rgba(128, 128, 128,0.5);
        }
        button{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 16px;
            background: transparent;
            border: none;
            width: 100%;
            &:hover{
                cursor: pointer;
            }
        }
    }
}