/* HEADER */
header {
    ul {
        display: flex;
    }

    li {
        list-style-type: none;
    }
}
.botones {
    margin: 0 5px;
    text-decoration: none;
    color: black;
    padding: 10px 15px 10px 15px;
    background-color:  rgb(217, 216, 216);
    transition: 0.5s linear;
    border-radius: 5px;
    display: block;
    border: none;
}
.botones:hover {
    background-color: rgb(32, 54, 118);
    transform: scale(0.95);
    color: white;
}

.formularioProfesores{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}